nav.nav
    a(href="#").active_nav
        i.fa.fa-address-card-o(aria-hidden='true')
        span Мой профиль
    a(href="#")
        i.fa.fa-money(aria-hidden='true')
        span Оплаты
    a(href="#")
        i.fa.fa-building-o(aria-hidden='true')
        span Управление аккаунтом
    a(href="#")
        i.fa.fa-users(aria-hidden='true')
        span Рефералы