.header {
    
    font-size: 14px;

    a {
        color: #fff;
    }

    color: #fff;
    background: #0097a7;
    min-height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    padding: 0 15px;
    //width: 100%;

    .wrap_logo_burger {
        display: flex;
        align-items: center;


        .burger {
            width: 22px;
            height: 16px;
            margin-right: 30px;

            .burger_line {
                margin-bottom: 5px;
                height: 3px;
                background: #fff;
            }
        }
        .logo {}

        .logo_text {
            font-family: $ff-light;
            font-size: 10px;
            text-transform: uppercase;
            margin-left: 5px;
            letter-spacing: .5px;
            
            @media (max-width: 1245px) {
                display: none;
            }
        }
    }
    .inform {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center; //padding: 90px;
        
        @media (max-width: 510px) {
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
            @media (max-width: 738px) {
                display: none;
            }
        .item {
            margin-left: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1245px) {
                margin-left: 10px;
            }
        }
        .profile,
        .location {

            a {
                margin-left: 6px;
                text-decoration: underline;
            }
        }
        .profile {
            @media (max-width: 737px) {
                display: block;
            }
        }

    
        .fa-usd {
            color: #0097a7;
            background-color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5;
        }

    }
    i {
        font-size: 23px;
        margin-right: 6px;

        @media (max-width: 1245px) {
            font-size: 12px;
        }
    }
    
    .arrow i {
        font-size: 18px;
        
        @media (max-width: 510px) {
                font-size: 20px;
            }
    }

    @media (max-width: 1245px) {
        font-size: 12px;
    }

}