@import "sections/aside";
@import "sections/main";

.profile-layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 15px;
    padding: 16px 0 55px;
    padding-left: 36px;
    color: #242424;

    @media (max-width: 768px) {
        //margin: 0;
        flex-flow: row wrap;
        padding: 16px 10px;
    }
    @media (max-width: 1024px) {
        //flex-flow: row nowrap;
    }
}